<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div>
    Salut lume.
</div>
<div class = "container">
    Say hello:
    <form method="post" th:object="${greetingSubmission}" >
        <input type = "text" th:field="*{message}">
        <input type="submit" value="Submit">
    </form>
</div>
<div>
    <form method="get" action="/greetings">
        <button type="submit">View all greetings</button>
    </form>
</div>

<div th:text="${name}">

</div>
<body>

</body>
</html>